{% extends 'base.html.twig' %}

{% block title %}FoodPro
{% endblock %}

{% block body %}
	<header>
		<h1>FoodPro</h1>

		<section class="banner">
			<h2>Catalogue des plats</h2>
		</section>

		<div class="controls">
			<div class="filter-group">
				<label for="search">Rechercher</label>
				<div class="group">
					<input type="text" id="search-input" placeholder="Nom du plat..."/>
				</div>
			</div>

			<div class="filter-group">
				<p>Catégories</p>
				<div class="group">
					<button class="btn selected" id="btnToutesCategorie">Toutes</button>
					<button class="btn" id="btnCategoriesEntrees">Entrées</button>
					<button class="btn" id="btnCategoriesPlats">Plats</button>
					<button class="btn" id="btnCategoriesDesserts">Desserts</button>
				</div>
			</div>

			<div class="filter-group">
				<p>Trier par prix</p>
				<div class="group">
					<button class="btn selected" id="btnTousLesPrix">Défaut</button>
					<button class="btn" id="btnPrixAsc">Prix +</button>
					<button class="btn" id="btnPrixDesc">Prix -</button>
				</div>
			</div>

			<div class="filter-group">
				<p>Plats à afficher</p>
				<div class="range-group">
					<input type="range" id="range-input" min="1" max="12" step="1" value="12"/>
					<span id="range-value">12</span>
				</div>
			</div>
		</div>
	</header>

	<main class="container">
		<h2>Notre Catalogue</h2>
		<p class="subtitle">Affichage de 12 plats</p>

		<div class="food-grid" id="food-grid"></div>
	</main>
    <script> let dishesData = [];</script>
    {% for dishe in dishes %}
        <script> dishesData.push({
            id: {{dishe.id}}, name:"{{dishe.name}}", price:"{{dishe.company}}", category:"{{dishe.category}}",
            createdAt:"{{ dishe.createdAt|date("d/m/Y", "Europe/Paris") }}", updatedAt:"{{ dishe.updatedAt|date("d/m/Y", "Europe/Paris") }}"
        });
        </script>
    {% endfor %}
    <script src="{{ asset('script.js') }}"></script>
{% endblock %}
